@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(212, 45%, 89%);
}

img{
  max-width: 100%;
  display: block;
  height: auto;
  transition: all 0.3s ease-in-out;
}

img:hover{
  transform: scale(1.5);
}

.image-qr-code{
  overflow: hidden;
  border-radius: 10px;
}

.qr-code-card{
  background-color: hsl(0, 0%, 100%);
  max-width: 375px;
  padding: 1rem 1rem 40px 1rem;
  border-radius: 20px;
  box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0477);
  text-align: center;
  margin: 1.5rem;
}

.text-qr-code h1{
  color: #1F314F;
  font-size: 28px;
  font-weight: 700;
  margin-block: 1rem;
}

.text-qr-code p{
  color: #68778D;
}